{% extends "base/base.html" %} 
{% load static %}

{% block pagecontent %}

<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div
    class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
  >
    <h6 class="m-0 font-weight-bold text-primary">Lista de Unidades de medida</h6>
    <div class="dropdown no-arrow">
      <a
        class="dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
        aria-labelledby="dropdownMenuLink"
      >
        <div class="dropdown-header">Acciones:</div>
        <a class="dropdown-item" href="{% url 'inventario:unimedida-new' %}"> <i class="far fa-calendar-plus"></i> Nueva Unidad de medida</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    
    {% if not unimedidas %} 
      <div class="alert alert-info">
        No hay Unidades de medida
      </div>
    {% else %}
 
    <table class="table table-striped-hover" id="MyTable" >
      <thead>
        <th>ID</th>
        <th>Descripcion</th>
        <th>Estado</th>
        <th>Fecha creacion</th>
        <th>Fecha modificacion</th>
        <th class="all">Acciones</th>
      </thead>

      <tbody>
        {% for unimedida in unimedidas %}
        <tr>
            
          <td>{{unimedida.id}}</td>
          <td>{{unimedida.descripcion}}</td>
          <td>{{unimedida.estado |yesno:"Activo, Inactivo"}}</td>
          <td>{{unimedida.fcreacion | date:"d/m/Y H:i:s"}}</td>
          <td>{{unimedida.fmodificacion | date:"d/m/Y H:i:s"}}</td>

          <td>
            <a
              href="{% url 'inventario:unimedida-edit' unimedida.id %}"
              class="btn btn-warning btn-circle"
              role="button"
              ><i class="far fa-edit"></i
            ></a>

            {% if unimedida.estado %}
            
              <a href="{% url 'inventario:unimedida-disable' unimedida.id %}" class="btn btn-danger btn-circle" role="button">
                <i class="far fa-thumbs-down"></i
              ></a>
            {% else %}
              <a href="{% url 'inventario:unimedida-enable' unimedida.id %}" class="btn btn-success btn-circle" role="button">
              <i class="far fa-thumbs-up"></i
              ></a>
            {% endif %}
              

          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock pagecontent %} 

{% block js %}

<script>
  $(document).ready(function(){
    $('#MyTable').DataTable();
  });
</script>

{% endblock js %}
